<div>
  <calc-num-button [value]="1"></calc-num-button>
  <calc-num-button [value]="2"></calc-num-button>
  <calc-num-button [value]="3"></calc-num-button>
  <calc-num-button [value]="4"></calc-num-button>
  <calc-num-button [value]="5"></calc-num-button>
  <calc-num-button [value]="6"></calc-num-button>
  <calc-num-button [value]="7"></calc-num-button>
  <calc-num-button [value]="8"></calc-num-button>
  <calc-num-button [value]="9"></calc-num-button>
  <calc-num-button [value]="0"></calc-num-button>
</div>
<div>
  <calc-eval-button [value]="'+'"></calc-eval-button>
  <calc-eval-button [value]="'-'"></calc-eval-button>
  <calc-eval-button [value]="'*'"></calc-eval-button>
  <calc-eval-button [value]="'/'"></calc-eval-button>
  <calc-eval-button [value]="'='"></calc-eval-button>
</div>
<div>
  <calc-text></calc-text>
</div>
